<% include ../../public/ui_ux/head %>
<% include ../../public/ui_ux/pemberikerja_nav %>

<div class=" py-5 bg-light ">
  <div class="container">
    <form action="/pemberikerja/updateterimakerja/<%= ambilkerja._id%>" method="post">
    <table class="table table-hover">
        <tbody>
          <td><h4> Informasi Datadiri </h4></td>
          <tr>
            <td> Nama Legkap </td>
            <td> <%= ambilkerja.datadiri.namalengkap %></td>
          </tr>
          <tr>
            <td>kelamin</td>
            <td><%= ambilkerja.datadiri.kelamin %> </td>
          </tr>
          <tr>
            <td> Tempat lahir </td>
            <td><%= ambilkerja.datadiri.tempat_lahir %> </td>
          </tr>
          <tr>
            <td> Tanggal lahir </td>
            <td> <%= ambilkerja.datadiri.tanggal_lahir%></td>
          </tr>
          <tr>
            <td> Alamat asal </td>
            <td><%= ambilkerja.datadiri.alamat_asal %> </td>
          </tr>
          <tr>
            <td> Alamat tinggal </td>
            <td><%= ambilkerja.datadiri.alamat_tinggal %> </td>
          </tr>
          <tr>
            <td> No Hp </td>
            <td><%= ambilkerja.datadiri.nohp %> </td>
          </tr>
          <tr>
            <td> Email </td>
            <td><%= ambilkerja.datadiri.email %> </td>
          </tr>
          <tr>
            <td> Agama </td>
            <td><%= ambilkerja.datadiri.agama %> </td>
          </tr>

          <td><p></p><p></p><p></p><h4> Informasi Pendidikan </h4></td>
          <tr>
            <td> SMA /SMK </td>
            <td><%= ambilkerja.pendidikan.sma %> </td>
          </tr>

          <tr>
            <td> Jurusan SMA /SMK </td>
            <td><%= ambilkerja.pendidikan.jurusan_sma %> </td>
          </tr>
          <tr>
            <td> Perguruan Tinggi </td>
            <td><%= ambilkerja.pendidikan.kuliah %> </td>
          </tr>
          <tr>
            <td> Jurusan Perguruan Tinggi </td>
            <td><%= ambilkerja.pendidikan.jurusan_kuliahJurusan  %> </td>
          </tr>
          <p></p>
          <td><p></p><h4> Pengalamankerja </h4></td>
          <tr>
            <td> Pengalamankerja </td>
            <td><%= ambilkerja.pengalamankerja %> </td>
          </tr></p>

          <td> <p> <h4> lowongankerja </h4> </p></td>
          <tr>
            <td> lowongankerja </td>

            <td><a href="/list/detail/<%= ambilkerja.idlowker %>" target="_blank">
                detail lowongan kerja</a></td>
          </tr>



        </tbody>
      </table>


      <div class="was-validated col-md-6 mb-3">
        <label for="validationServer05">Status Terima Kerja </label>
        <select class="custom-select d-block "  name="status" required >
         <option value="">Status Terima Kerja</option>
         <option value="Terima Kerja">Terima Kerja</option>
         <option value="Tidak Di Terima">Tidak Di Terima</option>
         <option value="Wawancara Kerja">Wawancara Kerja</option>
       </select>
      </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
</div>
<% include ../../public/ui_ux/footer %>
