<% include ../../public/ui_ux/head %>
<% include ../../public/ui_ux/pemberikerja_nav %>

<div class="container">


      <% if (addlowkers.length>0) { %>
      <table class="table table-hover">

        <thead>
          <tr class="table-active">

            <th>Nama Pekerjaan</th>
            <th>Jenis Pekerjaan</th>
            <th>Lokasi Pekerjaan </th>
            <th>Gaji </th>
            <th>Email </th>

          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<addlowkers.length;i++) { %>
            <tr>
              <td><a href="/pemberikerja/show/<%= addlowkers[i]._id%>"><%= addlowkers[i].NamaPekerjaan%></a></td>
              <td><%= addlowkers[i].JenisPekerjaan%></td>
              <td><%= addlowkers[i].LokasiPekerjaan%></td>
              <td><%= addlowkers[i].Gaji %></td>
              <td><%= addlowkers[i].Email %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div> Tidak ada lowongankerja</div>
      <% } %>


</div>
<% include ../../public/ui_ux/footer %>
